# Built application & temp files
*.iml
.gradle/
local.properties
.idea/
.DS_Store
build/
**/build/
captures/
.externalNativeBuild/
.cxx/
**/.cxx/

# Keystore & Secrets
*.jks
keystore.properties
release-key.jks
release-key.b64
upload_certificate.pem

